.projects__list {
  max-width: 450px;
  width: 95%;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em; /* spacing between boxes */
}

.projects__list-item {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.5em 1em;
  text-align: center;
}