.posts__list {
  display: grid;
  gap: 1em;
}

.posts__list-item {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.5em 1em;
  width: 350px;
  text-align: center;
  box-sizing: border-box;
}