.skills__list {
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  gap: 1em;
}

.skills__list-item {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 0.5em 1em;
  width: 350px; /* Set all boxes to the same width */
  text-align: center;
  box-sizing: border-box;
}